---
layout: base.njk
title: About
---

<div class="row">
  <div class="col-lg-8 mx-auto">
    <h1>About Me</h1>
    <p class="lead">Computer Engineer | Cybersecurity Enthusiast | CTF Player</p>
    <p>Results-driven Computer Engineer skilled in designing and implementing robust technical solutions with a focus on cybersecurity and network integrity. Currently pursuing cybersecurity certifications and competing in CTF competitions.</p>
    <h4 class="mt-4">What I Write About</h4>
    <p>This blog covers my cybersecurity lab walkthroughs across platforms like TryHackMe, HackTheBox, and LetsDefend, as well as general tech and personal posts.</p>
  </div>
</div>