---
layout: base.njk
title: Home
---

<div class="row">
  <div class="col-lg-8 mx-auto">
    <h1>Hi, I'm Bader</h1>
    <p class="lead">Computer Engineer focused on Cybersecurity.</p>
    <p>I write about CTF walkthroughs, cybersecurity labs, and tech. Check out my <a href="/blog">blog</a> or learn more <a href="/about">about me</a>.</p>
  </div>
</div>